.issuance-form {
    display: flex;
    flex-direction: column;
    width:100%;
  }
.issuance-form h2 {
  color: #6583b7;
}
.issuance-form h2 span {
  font-weight: 300;
}
  .form-group {
    display: flex;
    flex-direction: column;
    margin-bottom: 1rem;
  }
  .form-group label {
    font-size: 15px;
    font-weight:600;
    color: #6583b7;
  }
  .form-group input {
    padding: 10px;
    border: none;
    outline: none;
    border: 2px solid #6583b7;
  }
  .form-group select {
    padding: 10px;
  }
  .submit-button {
    padding: 0.5rem 1rem;
    background-color:#6583b7;
    color: white;
    border: none;
    cursor: pointer;
    margin-top:2rem;
  }
  .submit-button:hover {
    background-color: #;
  }