.issuance-form {
  display: flex;
  flex-direction: column;
  width: 100%;
  margin-bottom: 1.5rem;
  gap: 10px;
}

.issuance-form h2 {
  color: #6583b7;
}

.issuance-form h2 span {
  font-weight: 300;
}

.form-group {
  display: flex;
  flex-direction: column;
  gap: 10px;
  padding-top: 10px;
  position: relative; 
}

.form-group label {
  font-size: 0.85rem;
  font-weight: 600;
  color: #6583b7;
}

.form-group input {
  padding: 10px;
  border: none;
  outline: none;
  border: 2px solid #6583b7;
  border-radius: 4px;
}

.form-group input:focus {
  border-color: #c1d0e7;
}

.form-group select {
  padding: 10px;
  border: 2px solid #6583b7;
  border-radius: 4px;
  outline: none;
}

.form-group select:focus {
  border-color: #c1d0e7;
}

.submit-button {
  padding: 0.5rem 1rem;
  background-color: #6583b7;
  color: white;
  border: none;
  cursor: pointer;
  margin-top: 2rem;
  border-radius: 4px;
  transition: transform 0.3s ease ,background-color 0.3s ease;
  margin-left:0;
}

.submit-button:hover {
  background-color: #536ca8;
}

.dropdown-suggestions {
  border: 1px solid #ccc;
  max-height: 150px;
  overflow-y: auto;
  font-size:0.9rem;
  position: absolute;
  top: 100%; 
  left: 0;
  width: 100%; 
  background-color: white;
  z-index: 10; 
  border-radius: 4px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1); 
  padding: 0; 
  margin: 0; 
  list-style: none;  
}

.dropdown-suggestions li {
  padding: 8px;
  background-color: white;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.dropdown-suggestions li:hover {
  background-color: #f0f0f0;
}

.error-message {
  color: red;
  font-size: 0.9rem;
}

.modal-form-input select::-webkit-scrollbar {
  display: none;
}
.dropdown-suggestions .disabled {
  color: #aaa;
  cursor: not-allowed; 
  pointer-events: none; 
  /* background-color: #d3d3d3; */
}

@media (max-width: 768px) {
  .form-group {
    gap: 5px;
  }

  .form-group label {
    font-size: 0.75rem; 
  }

  .form-group input,
  .form-group select {
    padding: 8px; 
  }

  .submit-button {
    padding: 0.4rem 0.8rem;
    margin-top: 1rem;
  }

  .dropdown-suggestions {
    max-height: 120px;
  }
}
