.modal-overlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: rgba(224, 243, 255, 0.2);
  color: #506892; 
  font-size: 1rem;
  z-index: 1000;
}

.modal-content {
  height:10%;
  display: flex;
  flex-direction: column;
  background-color: #e0f3ff; 
  padding: 2rem;
  border-radius: 0.625rem;
  position: relative;
  box-shadow: 0 0.3125rem 0.9375rem rgba(0, 0, 0, 0.2); 
  transition: transform 0.3s ease;
}

.modal-content:focus {
  transform: scale(1.02); 
}

.modal-close {
  position: absolute;
  top: 1rem;
  right: 0.625rem;
  background: none;
  border: none;
  font-size: 1.5rem;
  cursor: pointer;
  color: #007acc;
  transition: color 0.3s ease; 
}

.modal-close:hover {
  color: #0056b3; 
}

.modal-form-heading {
  color: #6583b7; 
}

.modal-form-heading h2 {
  font-size: 1.5rem;
}

.modal-form-input-div {
  display: flex;
  gap:5px;
  flex-direction: column;
  justify-content: center;
  align-items: left;
  padding-top: 1rem;
}

.modal-form-input input {
  font-family: "Poppins", sans-serif;
   
}

.modal-form-input select {
  font-family: "Poppins", sans-serif;
  border-color: #d3d3d3;
  border-radius: 0.3125rem;
  transition: border-color 0.3s ease; 
}

.modal-form-input input:focus,
.modal-form-input select:focus {
  border-color: #0056b3; 
  outline: none; 
}

.modal-form-input select {
  background-color: #fff; 
}

.modal-form-input select:focus {
  background-color: #e0f3ff; 
}

.modal-form-input select::-webkit-scrollbar {
  display: none;
}

.confirmation {
  padding-top: 0rem;
}

.confirmation p {
  font-size: 1rem;
}

.confirmation-buttons {
  display: flex;
  align-items: center;
  justify-content: center;
}
